*
{
	font-family: play;
}
body
{
		background-color: rgb(25,22,29);
}


#myInput
{
	background-color: #383838;
	color: #CA1245;
	border: 2px solid;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
	border-color: #6F18FF;
	margin-left: 1140px;
}

#contact
{
	color: #00F2FA;
	text-align: center;
	background-color: #6F18FF;
	border-radius: 15px

}

#myUL
{
	justify-content: center;
	align-items: center;
	margin-left: 50px;
	margin-top: 50px;
	color: #00F2FA;
	background-color: #6F18FF;
	border-radius: 20px

}
